<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <h6 class="section-heading">Parking problems</h6>
                <h2>Got more staff than parking spaces? </h2>
                <h2>Is juggling limited spaces a daily hassle? </h2>
            </div>
            <div class="col-lg-8">
                <p>If you’re an Auckland business with more demand for parking than supply, PARKALOTT makes it easy to manage your spaces. This easy-to-use solution doesn’t require expensive on-site hardware and it’s available for as little as $50 a month.</p>
            </div>
        </div>
       </div>
</section>
