<!-- About Section -->
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-8">

                <div class="intro-heading">Introducing <span class="company-name">PARKALOTT</span></div>
                <ul>
                <li>Got more staff than parking spaces?</li>
                <li>Is juggling limited spaces a daily hassle?</li>
                </ul>
                <p>If you’re an Auckland business with more demand for parking than supply, PARKALOTT makes it easy to manage your spaces. This easy-to-use solution doesn’t require expensive on-site hardware and it’s available for as little as $50 a month.</p>
            </div>
            <div class="col-md-3 col-md-offset-1 visible-lg visible-md">
                <img  class="img-responsive" src="img/about/phone.png">
            </div>
        </div>
    </div>
</section>
