<!-- faq Section -->
<section id="faq" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-heading">FAQs</div>
                <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingOne">
                            <h4 class="panel-title">
                How does PARKALOTT work?
      </h4> </div>
                        <div class="panel-body"> PARKALOTT is a web-based application which your staff download onto their smartphones and then use to manage your workplace parking </div>
                         </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingTwo">
                            <h4 class="panel-title">
          Does PARKALOTT need equipment?
      </h4> </div>
                        <div class="panel-body"> PARKALOTT is operated by smartphones, so there’s no need to install hardware on-site.</div>
                        </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingThree">
                            <h4 class="panel-title">
Can we continue using PARKALOTT after the 3-month trial?
      </h4> </div>
                        <div class="panel-body"> Yes. You simply carry on using PARKALOTT as you have been and then pay a monthly fee dependent on the size of your business. </div>
                         </div>
                    <div class="panel panel-default">
                        <div class="panel-heading" role="tab" id="headingFour">
                            <h4 class="panel-title">
                What if we don’t want to continue using PARKALOTT after the 3-month trial?
      </h4> </div>
                        <div class="panel-body"> No problem, we’ll switch off your business’s access to PARKALOTT and there’s no cost to you.</div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</section>
