<!-- faq Section -->
<section id="faq" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-heading">FAQs</div>

                <div class="faq-question">How does PARKALOTT work?</div>
                <div class="faq-answer"> PARKALOTT is a web-based application which your staff download onto their smartphones and then use to manage your workplace parking. </div>

                <div class="faq-question">Does PARKALOTT need equipment? </div>
                <div class="faq-answer"> PARKALOTT is operated by smartphones, so there’s no need to install hardware on-site.</div>

                <div class="faq-question">Can we continue using PARKALOTT after the 3-month trial?</div>
                <div class="faq-answer"> Yes. You simply carry on using PARKALOTT as you have been and then pay a monthly fee dependent on the size of your business. </div>

                <div class="faq-question">What if we don’t want to continue using PARKALOTT after the 3-month trial?</div>
                <div class="faq-answer"> No problem, we’ll switch off your business’s access to PARKALOTT and there’s no cost to you.</div>
            </div>
        </div>
    </div>
</section>
