  <footer>
        <div class="container">
            <div class="row">
                <div class="col-sm-6 col-xs-12 text-left">
                    <span class="copyright">Copyright &copy; {{ site.title }} {{ 'now' | date: "%Y" }}</span>
                </div>
                <div class="col-sm-6 col-xs-12">
                    <ul class="list-inline quicklinks text-right hidden-xs">
                        <li><a href="#termsModal" class="terms-link" data-toggle="modal">Terms of Use</a>
                        </li>
                    </ul>
                    <ul class="list-inline quicklinks text-left visible-xs">
<!--
                        <li><a href="#termsModal" class="terms-link" data-toggle="modal">Terms of Use</a>
                        </li>
-->
                    </ul>
                </div>
            </div>
        </div>
    </footer>
