<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button> <a class="navbar-brand page-scroll" href="#page-top">{{site.title}}</a> </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li> <a class="page-scroll" href="#about">About</a> </li>
                <li> <a class="page-scroll hide" href="#portfolio">Portfolio</a> </li>
                <li> <a class="page-scroll" href="#contact">Free trial</a> </li>
                <li> <a class="page-scroll" href="#faq">FAQs</a> </li>
                <li> <a href="#contactModal" data-toggle="modal">Contact us </a> </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- Header -->
<header>
    <div class="intro-video">
        <video autoplay loop muted poster="img/header-bg.png" id="video">
            <source src="img/v/parking.webm" type="video/webm">
            <source src="img/v/parking.ogv" type="video/ogg">
            <source src="img/v/parking.mp4" type="video/mp4">
        </video>
        <div class="overlay">
            <div class="intro-text">
                <div class="intro-heading">More faces than spaces?</div>
                <h6>Find a solution to workplace parking problems</h6> </div>
        </div>
    </div>
</header>
