<!-- Navigation -->
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
            <a class="navbar-brand page-scroll" href="#page-top">
                <svg width="100%" height="100%" viewBox="0 0 60 60" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <defs>
                        <rect id="path-1" x="-0.0107421875" y="-0.0107421875" width="59.9990234" height="59.9990234" rx="8"></rect>
                    </defs>
                    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="Logo">
                            <g id="Rectangle-5">
                                <use fill="#0072BC" fill-rule="evenodd" xlink:href="#path-1"></use>
                                <rect stroke="#FFFFFF" stroke-width="0" x="-4.01074219" y="-4.01074219" width="67.9990234" height="67.9990234" rx="8"></rect>
                            </g>
                            <path d="M45.0226029,12.5253811 C48.0422057,15.1281363 49.5519844,18.8085396 49.5519844,23.5667015 C49.5519844,28.5282037 48.0422057,32.3712768 45.0226029,35.0960361 C42.0030002,37.8207955 37.7481693,39.1831548 32.2579825,39.1831548 L22.1926903,39.1831548 L22.1926903,52.3595372 L14.8114761,52.3595372 L14.8114761,8.62126774 L32.2579825,8.62126774 C37.7481693,8.62126774 42.0030002,9.92262583 45.0226029,12.5253811 Z M14.8114761,32.5644627 L31.9486118,32.5644627 C35.3661399,32.5644627 37.9801029,31.8222819 39.7905792,30.337898 C41.6010554,28.8535142 42.5062799,26.6574724 42.5062799,23.7497068 C42.5062799,20.9232773 41.6010554,18.7984036 39.7905792,17.3750218 C37.9801029,15.95164 35.3661399,15.2399598 31.9486118,15.2399598 L14.8114761,15.2399598 L14.8114761,32.5644627 Z" id="P" fill="#FFFFFF"></path>
                        </g>
                    </g>
                </svg>
            </a>
        </div>
        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li> <a class="page-scroll" href="#about">About</a> </li>
                <li> <a class="page-scroll hide" href="#portfolio">Portfolio</a> </li>
                <li> <a class="page-scroll" href="#contact">Free trial</a> </li>
                <li> <a class="page-scroll" href="#faq">FAQs</a> </li>
                <li> <a href="#contactModal" data-toggle="modal">Contact us </a> </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
<!-- Header -->
<header>
    <div class="intro-video">
        <video autoplay loop muted poster="img/header-bg.png" id="video">
            <source src="img/v/parking.webm" type="video/webm">
            <source src="img/v/parking.ogv" type="video/ogg">
            <source src="img/v/parking.mp4" type="video/mp4"> </video>
        <div class="overlay">
            <div class="intro-text">
                <div class="intro-heading">More faces than spaces?</div>
                <h6>Find a solution to workplace parking problems</h6> </div>
        </div>
    </div>
</header>
