<!-- Contact Modals -->
<div class="portfolio-modal modal fade" id="contactModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"> </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-left">
                    <div class="modal-body">
                        <h1>Want to know more about <span class="company-name">PARKALOTT</span>?</h1>
                        <hr class="star-primary">
                        <p>Get in touch by email on <a href="mailto:question@parkalott.com?subject=Question%20from%20the%20site">question@parkalott.com</a> or call us on <a href="tel:+640220123123">+640220123123</a> </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="portfolio-modal modal fade" id="termsModal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-content">
        <div class="close-modal" data-dismiss="modal">
            <div class="lr">
                <div class="rl"> </div>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-lg-offset-1 text-left">
                    <div class="modal-body">
                        <h1>Terms of service</h1>
                        <hr class="star-primary">
                        <h3>Information about us</h3>
                        <p>There are the terms of service for Parkalott Limited (“us/we/our”) which apply to all use of our Parkalott software service (“Service”).</p>
                        <p>We reserve the right to amend these Terms from time to time and will post a message on our homepage along with the new version of the Terms if that happens. Your continued use of the Service will be deemed to be acceptance of any new Terms.</p>
                        <h3>Who we are</h3>
                        <p>Parkalott Limited is a limited liability company incorporated in Scotland. Our company number is SC400199, and our registered office is at Bishop’s Court, 29 Albyn Place, Aberdeen, AB10 1YL and main trading address is at Parkalott Limited, WeWork, 2nd Floor, 115 Mare Street E8 4RU, United Kingdom.</p>
                        <h3>Our contract with you</h3>
                        <p>Our contract with you (“Contract”) is formed when you register to create an account (“Account”) with us. Please note we reserve the right at our discretion to reject your usage our Service.</p>
                        <p>The Contract will run on a monthly, or annual subscription basis. For month to month Contracts there is no minimum term beyond the first month of the Contract. You can choose to stop the Service at any time in which case no further subscription fees will be charged although we shall not be obliged to refund any fees paid.</p>
                        <p>Your Contract will specify whether there is maximum number of users (“Authorised Users”) who can access your Account in order to use the Service or whether the number of Authorised Users for that Account is unlimited.</p>
                        <p>We shall be entitled to terminate the Contract at any time if you are in material breach of the Contract (e.g. fail to pay subscription fees) and either you fail to remedy the breach within the timescale we request or the breach is not capable of being remedied. We shall also be entitled to terminate the Contract if you become insolvent. Where we terminate the Contract due to your breach we shall not be obliged to refund any subscription fees you may have paid us.</p>
                        <p>These rights of termination will also apply to you against us.</p>
                        <h3>Use of your Account</h3>
                        <p>Once the Contract is formed, and subject to you and your Authorised Users complying with these Terms, you will be entitled to use, and permit Authorised Users to use, the Services via your Account solely for collecting, organising, managing and collaborating on content for a specific project or projects. You are responsible for your Authorised Users use of the Service.</p>
                        <p>You must advise us of the identities of Your Authorised Users, who will then require to register with us in order to access and use your Account. Your Contract may allow you to operate more than one project within your Account and in that event your Authorised Users will require to register on a project by project basis as appropriate.</p>
                        <p>Authorised Users use of the Services will be subject to these Terms. Each Authorised User shall keep a secure password for his use of the Services via your Account. You must only allow the permitted number of Authorised Users to access your Account to use the Services. If you discover any authorised use of the Service you must promptly let us know.</p>
                        <p>You must keep your password and account details secure and ensure that only you and Authorised Users access your Account.</p>
                        <p>You and your Authorised Users shall not store or transmit any computer virus, or any material during the use of the Services that:</p>
                        <ul>
                            <li>is unlawful, threatening, defamatory, obscene, infringing , discriminatory or is racially offensive;</li>
                            <li>facilitates or encourages illegal activity;</li>
                            <li>depicts sexually explicit images; or</li>
                            <li>promotes unlawful violence or causes damage or injury to any person or property,</li>
                        </ul>
                        <p>and we reserve the right, without liability to you, to disable your access to any material that breaches this provision.</p>
                        <p>You are responsible for complying with the laws of the country from where you use the Service and to ensure you have all necessary permission and consents in place in relation to your use of the Service.</p>
                        <h3>Payment</h3>
                        <p>A subscription fee is due in advance for use of the Service. Our subscription fee prices are posted on our website. It will be clear before you purchase any Service whether VAT or other applicable taxes are included in the price or still to be added.</p>
                        <p>Payment will be processed by credit card (or similar card) via a trusted third party payment provider. Where your card payment is not successful we will contact you and suspend access to your Account until payment has been made.</p>
                        <h3>Ownership of Data</h3>
                        <p>You are solely responsible for all the data you enter or upload in using the Service (“Your Data”), and any intellectual property rights in Your Data will be owned by you. We will comply with our <a href="/privacy-policy">Privacy Policy</a> in relation to use of Your Data and will follow our archiving procedures for Your Data as set out in its our policy available at <a href="/security-and-backups">Security &amp; Backups</a>.</p>
                        <p>In the event of any loss or damage to Your Data, your sole and exclusive remedy shall be for us to use reasonable commercial endeavours to restore the lost or damaged data from the latest back-up under our archiving procedure. We shall not be responsible for any loss, damage or disclosure of Your Data caused by any third party.</p>
                        <h3>Availability of Service</h3>
                        <p>We will endeavour to respond to all customer support queries within 48 hours and you may purchase enhanced support services separately at our then current rates.</p>
                        <p>You are solely responsible for procuring and maintaining your network connections and telecommunications links from your systems to our data centres. We are not liable for any delays, delivery failures and any other loss or damage arising from or relating to your network connections or telecommunications links or caused by the internet</p>
                        <h3>Our rights in the service</h3>
                        <p>The Parkalott Service is our proprietary service, and all intellectual property rights in it are owned by or validly licensed to us.</p>
                        <p>Software and related documentation provided in relation to the Service is only provided in relation to your use of the Service. Except where this is part of your legitimate use of the Service you are not permitted to copy, modify, republish, download, display or distribute all or any part of such software or documentation in any form or media or by any means. Nor are you permitted to reverse compile, disassemble, or reverse engineer such software or make use of such software or documentation to build a product or service which competes with our Service.</p>
                        <h3>Liability</h3>
                        <p>The Service is provided on an ‘as is’ basis and we do not guarantee that the service will be suitable for your intended use.</p>
                        <p>Nothing in these Terms seeks to exclude our liability for death or personal injury caused by our negligence or for fraud or fraudulent misrepresentation. However beyond that we exclude all other liability to the extent permitted at law.</p>
                        <p>In no event shall we be liable for any loss of business, loss of profit, loss or corruption of data or for any indirect or consequential loss. Except for liabilities we have expressly not excluded, our total aggregate liability arising under the Contract or otherwise relating to the Service shall be limited to the total of subscription fees paid by you in the previous month, or where you have paid for a block period in advance, the average monthly charge for that period.</p>
                        <h3>General legal provisions</h3>
                        <p>If we choose to waive any particular right we have under the Contract on any particular occasion this does not prevent us from exercising that right on another occasion.</p>
                        <p>If any part of the Contract is held by a court of law (or similar forum) to be invalid or unenforceable, this shall not affect the validity or enforceability of the rest of the Contract.</p>
                        <p>You are not entitled to transfer or assign your rights and obligations under the Contract to anyone else without our prior written permission.</p>
                        <p>If there are any disputes arising out of your use of the Service or relating to the Contract then these will be governed by the laws of Scotland. If either party require to raise court proceedings in relation to any such dispute then these proceedings must be raised in Scotland.</p>
                        <h3>Your concerns</h3>
                        <p>If you have any concerns about material which appears on our site, please contact <a href="mailto:question@parkalott.com">question@parkalott.com</a>.</p>
                        <button type="button" class="btn btn-default" data-dismiss="modal"><i class="fa fa-times"></i> Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Term Modals -->
